<%- include('partials/header.ejs') %>

<div class="container_v">
    <video id="video" width="100%" height="100%" autoplay muted>
      <source src="./Images/main_page.mp4" type="video/mp4" />
    </video>
    <div class="overlay">
      <h1 class="text"><span class="textY">EXPLORE</span> THE WORLD</h1>
      <h1 class="text">WITH <span class="textY">TRAVELLO10</span></h1>
      <h3 id="front_h3">Book trips and explore new destinations with ease from anywhere</h3>
    </div>
    <div class="socials">
      <div class="social_one">
        <div class="hehe">
          <img src="./Images/google.png" alt="Google" class="social_pic"> 4.6 Google Reviews
        </div>
        <h3>|</h3>
        <div class="travel_c">
          <img src="./Images/Travel.png" alt="Travel" class="social_pic"> 13,400+ Happy Customers 
        </div>
        <h3>|</h3>
        <div class="facebook">
          <img src="./Images/facebook.png" alt="Facebook" class="social_pic"> @Travello10
        </div>
        <h3>|</h3>
        <div class="instagram">
          <img src="./Images/insta.png" alt="Instagram" class="social_pic"> @Travello10
        </div>
      </div>
      <hr id="horizontal">
      <div class="social_one">
        The world is a book, and those who do not travel read only one page.
      </div>
    </div>
</div>
<div class="international_">
  <video id="video" width="100%" height="100%" autoplay muted>
    <source src="./Images/international.mp4" type="video/mp4" />
  </video>
  <div class="overlay_international">
    <h1 class="text">EXPLORE <span class="textY">INTERNATIONAL TRIP</span></h1>
  </div>
  <div class="international_trips_info">
    <div class="left-arrow" onclick="document.querySelector('.horizontal_scroll').scrollBy({ left: -(document.querySelector('.inter_trip_button').offsetWidth)-10, behavior: 'smooth' });">
      <button class="leftright_arrow ">
        <img src="./Images/leftArrow.png" alt="leftArrow" class="leftrightArrow">
      </button>
    </div>
    <div class="right-arrow" onclick="document.querySelector('.horizontal_scroll').scrollBy({ left: (document.querySelector('.inter_trip_button').offsetWidth)+10, behavior: 'smooth' });">
      <button class="leftright_arrow">
        <img alt="rightArrow" src="./Images/rightArrow.png" class="leftrightArrow">
      </button>
    </div>
    <div class="horizontal_scroll">
      
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>

      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
      
      <a href="#" class="inter_trip_button">
        <div class="inter_trip">
          <img src="./Images/bali.png" alt="bali" class="inter_img">
          <p class="info">Bali</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="grid_container">
  <div class="local_details">
    <p id="all">All</p>
    <p>Dhams</p>
    <p>Coorporate Trips</p>
    <p>Weekend Trips</p>
    <p>International Trips</p>
  </div>
  <div class="grid_container_info">
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkbwefbweyh duywgeygsducbwyegf</p>
          <p class="description_basic">cdkbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
    <div class="gap_blue">
    </div>
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
    <div class="gap_blue">
    </div>
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
    <div class="gap_blue">
      
    </div>
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
    <div class="gap_blue">
      
    </div>
    <div class="info_grid">
      <a href="#" class="info_grid_">
        <div class="info_grid_content">
          <img src="./Images/bali.png" class="info_grid_img">
          <h3 class="description_basic">Kajbfh</h3>
          <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
        </div>
      </a>
    </div>
  </div>
</div>



<div class="test grid_container">
  <div class="tab local_details">
    <button class="tablinks" onclick="openCity(event,'All')" id="defaultOpen">All</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Dhams</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Coorporate Trips</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Weekend Trips</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">International Trips</button>
  </div>
  
  <div id="All" class="tabcontent local_details">
    <div class="grid_container_info">
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkbwefbweyh duywgeygsducbwyegf</p>
            
          </div>
        </a>
      </div>
      <div class="gap_blue">
      </div>
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
          </div>
        </a>
      </div>
      <div class="gap_blue">
      </div>
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
          </div>
        </a>
      </div>
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
          </div>
        </a>
      </div>
      <div class="gap_blue">
        
      </div>
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
          </div>
        </a>
      </div>
      <div class="gap_blue">
        
      </div>
      <div class="info_grid">
        <a href="#" class="info_grid_">
          <div class="info_grid_content">
            <img src="./Images/bali.png" class="info_grid_img"/>
            <h3 class="description_basic">Kajbfh</h3>
            <p class="description_basic">cdkgwicgwefybffbwjegfbwefbweyh duywgeygsducbwyegf</p>
          </div>
        </a>
      </div>
    </div>
    
  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
     
</div>

<script src="./index.js" type="text/jsx"></script>
<script>
  console.log("yo");

function openCity(evt, cityName) {
  console.log("yo");
  
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./packages.js" type="text/jsx"></script>


<%- include('partials/footer.ejs') %>