<%- include('partials/header.ejs') %>

<div class="user-dash">
  
  <a href="/Register" class="registeration-button">Sign Up</a>
  <a href="/auth/google" class="registeration-button">Sign Up with Google</a>
  <a href="/Login" class="registeration-button">Login</a>
  <a href="/auth/google" class="registeration-button">Login with Google</a>
        
    
  
</div>

<%- include('partials/footer.ejs') %>